In [1]:
# import libraries
import pandas as pd
import numpy as np

# Load data from excel

df1 = pd.read_excel("One2Car_list_Dec2020_page1-300.xlsx") 
df2 = pd.read_excel("One2Car_list_Dec2020_page301-600.xlsx") 
df3 = pd.read_excel("One2Car_list_Dec2020_page601-900.xlsx") 
df4 = pd.read_excel("One2Car_list_Dec2020_page901-1200.xlsx") 

# Mergeing the excel file togther 

df = pd.concat([df1,df1,df3,df4])

,Unnamed: 0,model_info,mileage(km),gear_type,province,Price
0,0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,0 - 5K กม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"829,000 บาท"
1,1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,94321 กม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"1,060,000 บาท"
2,2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,80000 กม.,เกียร์ธรรมดา,กรุงเทพมหานคร,"479,000 บาท"
3,3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,290 - 295K กม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n592,080 บาท\n\n ..."
4,4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,90 - 95K กม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n 449,000 บาท"
5,5,2011 Toyota Fortuner 3.0 (ปี 08-11) TRD Sporti...,120 - 125K กม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 5 วัน5 ชม.\n\n642,000 บาท\n\n ..."
6,6,2019 Mazda 2 1.5 (ปี 15-18) XD Sports Hatchbac...,59613 กม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 4 วัน24 ชม.\n\n 459,000 บาท"
7,7,2016 Mazda 3 2.0 (ปี 14-17) SP Sports Hatchbac...,100 กม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 4 วัน9 ชม.\n\n592,333 บาท\n\n ..."
8,8,2007 Mitsubishi Triton 2.5 DOUBLE CAB (ปี 05-1...,290000 - 295000 กม.,เกียร์ธรรมดา,สมุทรสาคร,"229,000 บาท"
9,9,2012 Mitsubishi Triton 2.5 MEGA CAB (ปี 05-15)...,61361 กม.,เกียร์ธรรมดา,กรุงเทพมหานคร,"275,000 บาท"

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11894 entries, 0 to 11893
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11894 non-null  int64
 1   model_info   11894 non-null  object
 2   mileage(km)  11894 non-null  object
 3   gear_type    11894 non-null  object
 4   province     11894 non-null  object
 5   Price        11894 non-null  object
dtypes: int64(1), object(5)
memory usage: 557.7+ KB

In [3]:
df.describe()

         Unnamed: 0
count  11894.000000
mean    6161.983857
std     3584.183515
min        0.000000
25%     3052.250000
50%     6141.500000
75%     9262.750000
max    12426.000000

In [4]:
### Data cleaning section
## 1.Drop column unname
## 2.Mileage range and get rid of กม. 
## 3.Price get rid of บาท and เอาค่า \n\n   
## 4.Split column model_info to year,maker,model,engine_cc,sub_model,segment

In [5]:
## 1.Drop column unnamed

df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [6]:
## 2.Mileage text modify

df['mileage(km)'] = df['mileage(km)'].str.replace(" ","")
df.head()

,model_info,mileage(km),gear_type,province,Price
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,0-5Kกม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"829,000 บาท"
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,94321กม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"1,060,000 บาท"
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,80000กม.,เกียร์ธรรมดา,กรุงเทพมหานคร,"479,000 บาท"
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,290-295Kกม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n592,080 บาท\n\n ..."
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,90-95Kกม.,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n 449,000 บาท"

In [7]:
# Delect กม. from column mileage(km)

df['mileage(km)'] = df['mileage(km)'].str.replace("กม.","")

df.head()

,model_info,mileage(km),gear_type,province,Price
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,0-5K,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"829,000 บาท"
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,94321,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"1,060,000 บาท"
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,80000,เกียร์ธรรมดา,กรุงเทพมหานคร,"479,000 บาท"
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,290-295K,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n592,080 บาท\n\n ..."
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,90-95K,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n 449,000 บาท"

In [8]:
# Replace K with "1000"

df['mileage(km)'] = df['mileage(km)'].str.replace("K","000")

df.head()

,model_info,mileage(km),gear_type,province,Price
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,0-5000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"829,000 บาท"
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,94321,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"1,060,000 บาท"
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,80000,เกียร์ธรรมดา,กรุงเทพมหานคร,"479,000 บาท"
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,290-295000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n592,080 บาท\n\n ..."
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,90-95000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n 449,000 บาท"

In [9]:
# Split comlumn mileage(km) into mileage(km) and mileage(km)_mod

df['mileage(km)_mod'] = df['mileage(km)'].str.split('-').str[1]

df.head()

,model_info,mileage(km),gear_type,province,Price,mileage(km)_mod
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,0-5000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"829,000 บาท",5000
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,94321,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"1,060,000 บาท",NaN
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,80000,เกียร์ธรรมดา,กรุงเทพมหานคร,"479,000 บาท",NaN
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,290-295000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n592,080 บาท\n\n ...",295000
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,90-95000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n 449,000 บาท",95000

In [10]:
# Fillna the value NaN with value from mileage(km)

df['mileage(km)_mod'].fillna(df['mileage(km)'], inplace=True)

df.head()

,model_info,mileage(km),gear_type,province,Price,mileage(km)_mod
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,0-5000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"829,000 บาท",5000
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,94321,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"1,060,000 บาท",94321
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,80000,เกียร์ธรรมดา,กรุงเทพมหานคร,"479,000 บาท",80000
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,290-295000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n592,080 บาท\n\n ...",295000
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,90-95000,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n 449,000 บาท",95000

In [11]:
# Drop mileage(km) column

df.drop(["mileage(km)"],axis=1,inplace=True)

df

,model_info,gear_type,province,Price,mileage(km)_mod
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"829,000 บาท",5000
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"1,060,000 บาท",94321
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,เกียร์ธรรมดา,กรุงเทพมหานคร,"479,000 บาท",80000
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n592,080 บาท\n\n ...",295000
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n 449,000 บาท",95000
...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,เกียร์ธรรมดา,กรุงเทพมหานคร,"449,000 บาท",5000
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,เกียร์ธรรมดา,กรุงเทพมหานคร,"469,000 บาท",5000
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,เกียร์ธรรมดา,กรุงเทพมหานคร,"549,000 บาท",30000
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"459,000 บาท",125000
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,เกียร์อัตโนมัติ,กรุงเทพมหานคร,"499,000 บาท",5000

In [12]:
## Replace เกียร์อัตโนมัติ / เกียร์ธรรมดา with auto / manual

df['gear_type'] = df['gear_type'].replace('เกียร์อัตโนมัติ','auto')

df['gear_type'] = df['gear_type'].replace('เกียร์ธรรมดา','manual')

df

,model_info,gear_type,province,Price,mileage(km)_mod
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,auto,กรุงเทพมหานคร,"829,000 บาท",5000
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,auto,กรุงเทพมหานคร,"1,060,000 บาท",94321
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,manual,กรุงเทพมหานคร,"479,000 บาท",80000
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,auto,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n592,080 บาท\n\n ...",295000
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,auto,กรุงเทพมหานคร,"เหลืออีก 6 วัน3 ชม.\n\n 449,000 บาท",95000
...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,manual,กรุงเทพมหานคร,"449,000 บาท",5000
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,"469,000 บาท",5000
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,"549,000 บาท",30000
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,auto,กรุงเทพมหานคร,"459,000 บาท",125000
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,auto,กรุงเทพมหานคร,"499,000 บาท",5000

In [13]:
# Modify price columns

df['Price'] = df['Price'].str.replace('บาท',' ')

df['Price(bath)'] = df['Price']

df.drop(['Price'],axis=1,inplace=True)

df

,model_info,gear_type,province,mileage(km)_mod,Price(bath)
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,auto,กรุงเทพมหานคร,5000,"829,000"
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,auto,กรุงเทพมหานคร,94321,"1,060,000"
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,manual,กรุงเทพมหานคร,80000,"479,000"
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,auto,กรุงเทพมหานคร,295000,"เหลืออีก 6 วัน3 ชม.\n\n592,080 \n\n ..."
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,auto,กรุงเทพมหานคร,95000,"เหลืออีก 6 วัน3 ชม.\n\n 449,000"
...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,manual,กรุงเทพมหานคร,5000,"449,000"
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,5000,"469,000"
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,30000,"549,000"
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,auto,กรุงเทพมหานคร,125000,"459,000"
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,auto,กรุงเทพมหานคร,5000,"499,000"

In [14]:
# Delect , on price column

df['Price(bath)'] = df['Price(bath)'].str.replace(",","")

df

,model_info,gear_type,province,mileage(km)_mod,Price(bath)
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,auto,กรุงเทพมหานคร,5000,829000
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,auto,กรุงเทพมหานคร,94321,1060000
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,manual,กรุงเทพมหานคร,80000,479000
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,auto,กรุงเทพมหานคร,295000,เหลืออีก 6 วัน3 ชม.\n\n592080 \n\n ...
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,auto,กรุงเทพมหานคร,95000,เหลืออีก 6 วัน3 ชม.\n\n 449000
...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,manual,กรุงเทพมหานคร,5000,449000
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,5000,469000
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,30000,549000
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,auto,กรุงเทพมหานคร,125000,459000
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,auto,กรุงเทพมหานคร,5000,499000

In [15]:
# Change K in mileage(km)_mod column to 1000

df['mileage(km)_mod'] = df['mileage(km)_mod'].str.replace('k','000')

df['mileage(km)_mod'] = df['mileage(km)_mod'].str.replace(' ','')

df

,model_info,gear_type,province,mileage(km)_mod,Price(bath)
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,auto,กรุงเทพมหานคร,5000,829000
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,auto,กรุงเทพมหานคร,94321,1060000
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,manual,กรุงเทพมหานคร,80000,479000
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,auto,กรุงเทพมหานคร,295000,เหลืออีก 6 วัน3 ชม.\n\n592080 \n\n ...
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,auto,กรุงเทพมหานคร,95000,เหลืออีก 6 วัน3 ชม.\n\n 449000
...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,manual,กรุงเทพมหานคร,5000,449000
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,5000,469000
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,30000,549000
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,auto,กรุงเทพมหานคร,125000,459000
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,auto,กรุงเทพมหานคร,5000,499000

In [16]:
# Modify price more

df['Price'] = df['Price(bath)'].str.split().str[-1]

df['Price'] = df['Price'].str.replace("ติดต่อผู้ขาย","")

df

,model_info,gear_type,province,mileage(km)_mod,Price(bath),Price
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,auto,กรุงเทพมหานคร,5000,829000,829000
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,auto,กรุงเทพมหานคร,94321,1060000,1060000
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,manual,กรุงเทพมหานคร,80000,479000,479000
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,auto,กรุงเทพมหานคร,295000,เหลืออีก 6 วัน3 ชม.\n\n592080 \n\n ...,539000
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,auto,กรุงเทพมหานคร,95000,เหลืออีก 6 วัน3 ชม.\n\n 449000,449000
...,...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,manual,กรุงเทพมหานคร,5000,449000,449000
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,5000,469000,469000
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,30000,549000,549000
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,auto,กรุงเทพมหานคร,125000,459000,459000
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,auto,กรุงเทพมหานคร,5000,499000,499000

In [17]:
# Delect column Price(bath) which is not clean

df.drop(['Price(bath)'],axis=1,inplace=True)

df

,model_info,gear_type,province,mileage(km)_mod,Price
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,auto,กรุงเทพมหานคร,5000,829000
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,auto,กรุงเทพมหานคร,94321,1060000
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,manual,กรุงเทพมหานคร,80000,479000
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,auto,กรุงเทพมหานคร,295000,539000
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,auto,กรุงเทพมหานคร,95000,449000
...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,manual,กรุงเทพมหานคร,5000,449000
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,5000,469000
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,30000,549000
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,auto,กรุงเทพมหานคร,125000,459000
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,auto,กรุงเทพมหานคร,5000,499000

In [18]:
# Extract year from model_info

df['year'] = df['model_info'].apply(lambda x: x.split(" ")[0])

df['maker'] = df['model_info'].apply(lambda x: x.split(" ")[1])

df['model'] = df['model_info'].apply(lambda x: x.split(" ")[2:3])

df['engineCC'] = df['model_info'].apply(lambda x: x.split(" ")[3:7])

df

,model_info,gear_type,province,mileage(km)_mod,Price,year,maker,model,engineCC
0,2017 Toyota Hiace 3.0 COMMUTER (ปี 05-16) D4D Van,auto,กรุงเทพมหานคร,5000,829000,2017,Toyota,[Hiace],"[3.0, COMMUTER, (ปี, 05-16)]"
1,2015 Toyota Fortuner 2.8 (ปี 15-18) V SUV - 4WD,auto,กรุงเทพมหานคร,94321,1060000,2015,Toyota,[Fortuner],"[2.8, (ปี, 15-18), V]"
2,2017 Toyota Hilux Revo 2.4 SMARTCAB E Pickup - MT,manual,กรุงเทพมหานคร,80000,479000,2017,Toyota,[Hilux],"[Revo, 2.4, SMARTCAB, E]"
3,2014 Toyota Camry 2.0 (ปี 12-16) G EXTREMO Sedan,auto,กรุงเทพมหานคร,295000,539000,2014,Toyota,[Camry],"[2.0, (ปี, 12-16), G]"
4,2018 Toyota Yaris 1.2 (ปี 13-17) G Hatchback,auto,กรุงเทพมหานคร,95000,449000,2018,Toyota,[Yaris],"[1.2, (ปี, 13-17), G]"
...,...,...,...,...,...,...,...,...,...
11889,2017 Isuzu D-Max 1.9 SPACE CAB (ปี 11-17) S Pi...,manual,กรุงเทพมหานคร,5000,449000,2017,Isuzu,[D-Max],"[1.9, SPACE, CAB, (ปี]"
11890,2015 Isuzu D-Max 2.5 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,5000,469000,2015,Isuzu,[D-Max],"[2.5, CAB-4, (ปี, 11-17)]"
11891,2017 Isuzu D-Max 1.9 CAB-4 (ปี 11-17) S Pickup,manual,กรุงเทพมหานคร,30000,549000,2017,Isuzu,[D-Max],"[1.9, CAB-4, (ปี, 11-17)]"
11892,2006 Saab 9-5 2.3 (ปี 99-08) Turbo Aero Sedan,auto,กรุงเทพมหานคร,125000,459000,2006,Saab,[9-5],"[2.3, (ปี, 99-08), Turbo]"
11893,2013 Toyota Hiace 2.7 COMMUTER (ปี 05-16) VVTi...,auto,กรุงเทพมหานคร,5000,499000,2013,Toyota,[Hiace],"[2.7, COMMUTER, (ปี, 05-16)]"

In [23]:
df.to_excel('clean_datadec2020.xlsx')